.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0,0, 0.5);
}

.flashes h4 {
    line-height: 2;
} 
.btn-small{
    margin: 5px;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height:42px ; 
}
.row button{
    position: relative;
    width: 300px!important;
    height: 106px;
    margin: 10px 0;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    background-color: transparent;
    border: none;
}
.row button span {
    position: relative;
    z-index: 1;
}
.row button:hover {
color:rgb(21, 22, 22);
}

.row button:before {
content: '';
position: absolute;
top:0;
left: 0;
height: 70%;
width: 0;
background: url(../images/btn-bg1.png);
background-size: cover; 
transform-origin: left;
transition: 0.5s;
}
.row button:hover:before {
    width: 100%;  
}
.buttons:nth-child(2):before {
background: url(../images/btn-bg2.png);
background-size: cover;
width: 100%;   
}